.name {
    font-size: 60px;
    font-family: Verdana;
    margin-top: 100px;
}

.subname {
    font-family: Verdana;
    font-weight: 300;
}

.row {
    border-bottom: 0.5px solid #C2C0C2;
}

.row.projects {
    border-bottom: none;
}

.projects .title {
    text-align: center;
}

.title .head {
    font-size: 20px;
}

.aboutme p, .projects p {
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

.projects h3 {
    margin-left: 50px;
    margin-right: 50px; 
}

/*.row.projects:last-child {
    border-bottom: 0.5px solid #C2C0C2;
}*/

.row.head {
    padding-bottom: 20px;
}

.row.icons {
    padding: 30px 80px; 
    text-align: center;
}

.row.aboutme, .row.projects {
    padding: 30px 120px;
}

.icons i {
    font-size: 50px;
}

/*.projects p {
    font-size: 18px;
    text-align: justify;
}*/

.icon-text {
    font-size: 15px;
    color: #000000;
}

a, a:focus, a:active, a:visited, a:target {
    color: #C2C0C2;
}

a:hover {
    color: #000000;
}

.projects a {
    color: #000000;
    font-weight: bold;
}

@media(max-width:768px) {
    .name {
        font-size: 50px;
        margin-top: 50px;
    }

    .row {
        padding: 20px 0px !important; 
        text-align: center;
    }

    .icons i {
        font-size: 35px;
    }

    .icon-text {
        display: none;
    }

    .aboutme p, .projects p {
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: justify;
    }
/*
    .projects p {
        font-size: 15px;
    }*/

    .title .head {
        font-size: 15px;
    }

    .subname {
        font-size: 20px;
    }

.row {
    border-bottom: 1px solid #C2C0C2;
}
}