/*SIDEBAR CSS --------------------------*/
.sidebar{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	text-align: center;
	background: #C9CED1;
	height: 100%;
	width: 340px;
}

.sidebar-links{
	list-style: none;
	height: 50px;
	
}

.sidebar-links>a{
	color: #000000;
	font-size: 20px;
	letter-spacing: 2px;
}

.sidebar-links>a:hover{
	font-weight: bold;
	text-decoration: none;
}

.sidebar-links-selected{
	font-weight: bold;
	text-decoration: none;
}

/*BLOG POST CSS ------------------------------------*/

.blog-post{
	padding-top: 30px;
}

.blog-post>h1{
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 3px;
}

.title-seperator{
	border-top:	1px solid #ccc;
	width: 150px;
	margin-top: 25px;
	margin-bottom: 10px;
	left: 0px; 	
}

.blog-date{
	font-style: italic;
	color: #aaa;
	font-family: serif;
}

.blog-para{
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: calluna,Georgia,serif;
	letter-spacing: 1px;
	font-size: 15px;
}

.blog-header{
	text-align: center;
	font-family: georgia;
}

.blog-header>h1{
	font-size: 38px;
}

.blog-header>p{
	font-style: italic;
	margin: 20px;
	font-size: 15px;
}

.blog-paragraph{
	font-size: 17px;
}
/*PROJECT CSS -------------------------------------------*/

.project-row{
	margin-bottom: 20px;
}

.project-head{
	background-color: #C9CED1;
	margin: 10px;
	height: 250px;
	text-align: center
}

.project-head>h2{
	font-size: 25px;
	padding: 10px;
	font-family: arial;
	letter-spacing: 2px;
	border-bottom: 1px solid #dcdcdc;
}

.project-desc{	
	margin: 10px;
	height: 250px;
	background-size: cover; background-position: center center;
	padding: 0px;
}
.project-desc .text{
	opacity: 0 !important;
}

.project-desc:hover{
	/*opacity: 0.2;*/
}
.project-desc:hover .text{
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 20px;
  opacity: 1 !important;
  font-family: 'Raleway', sans-serif;
  height: 250px;
  width: 600px;
}
#whiteboard{
    background-image: url("../whiteboard.png");
}

#transitcheck{
	background-image: url("../transit-check.png");
}

#thiswebsite{
	background-image: url("../thiswebsite.png")
}

#skipthewait{
	background-image: url("../SkipTheWait.png")	
}

#tide{
	background-image: url("../Tide.png")	
}