<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>AddySridhar</title>

	<link rel="stylesheet" type="text/css" href="../static/css/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/jquery.sidr.dark.css">
	<link rel="stylesheet" type="text/css" href="../static/css/component.css">
	<link rel="stylesheet" type="text/css" href="../static/css/mystyles.css">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/jquery.sidr.min.js"></script>
	<script type="text/javascript" src="../static/js/component.js"></script>
	<script type="text/javascript" src="../static/js/modernizr.custom.js"></script>
</head>
<body>
<body>
<!-- 	<a href="#sidr" id="simple-menu"><span class="glyphicon glyphicon-align-justify" style="font-size: 20px; padding: 20px; color: #000000;"></span></a>
	 
	<div id="sidr">
	  <ul>
	    <li class="active"><a href="/">Home</a></li>
	    <li><a href="/blog">Blog</a></li>
	    <li><a href="/projects">Projects</a></li>
	    <li><a href="/photography">Photography</a></li>
	    <li><a href="/contact">Contact</a></li>
	  </ul>
	</div> -->

<!--  	<div class="container" style="max-width: 70%;">
 		<h1 style="text-align: center; font-size: 70px; padding-top: 70px;">Aditya Sridhar</h1>
		<div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
		    <a href="#" class="hi-icon hi-icon-mobile" style="background-color: #000000;">Mobile</a>
		    <a href="#" class="hi-icon hi-icon-screen" style="background-color: #000000;">Desktop</a>
		    <a href="#" class="hi-icon hi-icon-earth" style="background-color: #000000;">Partners</a>
		    <a href="#" class="hi-icon hi-icon-support" style="background-color: #000000;">Support</a>
		    <a href="#" class="hi-icon hi-icon-locked" style="background-color: #000000;">Security</a>
		</div>
 	</div> -->

 	<div class="sidebar">
 		<img src="../static/aditya_linkedin.jpg" class="img-circle" width = "150" height="150" style="position: absolute; left:95px;; top: 30px;">
 		<h1 style="margin-top: 200px;">AddySridhar</h1>
 		<p>Software Engineering <a href="https://twitter.com/UWaterloo" target="blank">@UWaterloo</a><br>
 		Web Developer<br>
 		Photographer</p>
 		<hr>
 		<ul style="padding-left: 0px;">
 			<li style="list-style: none;"><a href="/about">ABOUT ME</a></li>
 			<li style="list-style: none;"><a href="/">BLOG</a></li>
 			<li style="list-style: none;"><a href="/projects">PROJECTS</a></li>
 			<li style="list-style: none;"><a href="/projects">RESUME</a></li>
 			<li style="list-style: none;"><a href="/photography">PHOTOGRAPHY</a></li>
 			
 		</ul>
 	</div>
 	<div style="padding-left: 350px; padding-right: 100px;">
	 	<div class="container" style="width: 900px;">
	 		<h3>ABOUT ME</h3>
	 		<p>Hey! I am Aditya and I am currently pursuing Software Engineering at the University of Waterloo.

	 		Programming experience

	 		Watching history documentaries
	 		Tutoring
	 		Photography
	 		Blogging
	 		<br>
	 		Onload, should be taken to blog. </p>
	 	</div>
 	</div>
	<script>
	$(document).ready(function() {
	  $('#simple-menu').sidr();
	});
	</script>
</body>
</body>
</html>