<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>AddySridhar</title>

	<link rel="stylesheet" type="text/css" href="../static/css/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/jquery.sidr.dark.css">
	<link rel="stylesheet" type="text/css" href="../static/css/component.css">
	<link rel="stylesheet" type="text/css" href="../static/css/mystyles.css">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/stellar.js"></script>
	<script type="text/javascript" src="../static/js/jquery.sidr.min.js"></script>
	<script type="text/javascript" src="../static/js/component.js"></script>
	<script type="text/javascript" src="../static/js/modernizr.custom.js"></script>
	<script type="text/javascript" src="../static/js/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="../static/js/script.js"></script>
</head>

<body style="height: 650px; overflow-y: scroll;">
<!-- 	<a href="#sidr" id="simple-menu"><span class="glyphicon glyphicon-align-justify" style="font-size: 20px; padding: 20px; color: #000000;"></span></a>
	 
	<div id="sidr">
	  <ul>
	    <li class="active"><a href="/">Home</a></li>
	    <li><a href="/blog">Blog</a></li>
	    <li><a href="/projects">Projects</a></li>
	    <li><a href="/photography">Photography</a></li>
	    <li><a href="/contact">Contact</a></li>
	  </ul>
	</div> -->

<!--  	<div class="container" style="max-width: 70%;">
 		<h1 style="text-align: center; font-size: 70px; padding-top: 70px;">Aditya Sridhar</h1>
		<div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
		    <a href="#" class="hi-icon hi-icon-mobile" style="background-color: #000000;">Mobile</a>
		    <a href="#" class="hi-icon hi-icon-screen" style="background-color: #000000;">Desktop</a>
		    <a href="#" class="hi-icon hi-icon-earth" style="background-color: #000000;">Partners</a>
		    <a href="#" class="hi-icon hi-icon-support" style="background-color: #000000;">Support</a>
		    <a href="#" class="hi-icon hi-icon-locked" style="background-color: #000000;">Security</a>
		</div>
 	</div> -->

 	<div class="sidebar">
 		<img src="../static/aditya_linkedin.jpg" class="img-circle" width = "150" height="150" style="position: absolute; left:95px;; top: 20px;">
 		<h1 style="margin-top: 180px;">AddySridhar</h1>
<!--  		<p>Software Engineering <a href="https://twitter.com/UWaterloo" target="blank">@UWaterloo</a><br>
 		Web Developer<br>
 		Photographer</p> -->
 		<hr>
 		<ul style="padding-left: 0px;">
 			<li class="sidebar-links"><a href="/about">ABOUT ME</a></li>
 			<hr style="margin-top: 0px;">
 			<li class="sidebar-links"><a href="/">BLOG</a></li>
 			<hr style="margin-top: 0px;">
 			<li class="sidebar-links"><a href="/projects">PROJECTS</a></li>
 			<hr style="margin-top: 0px;">
 			<li class="sidebar-links"><a href="/projects">RESUME</a></li>
 			<hr style="margin-top: 0px;">
 			<li class="sidebar-links"><a href="/photography">PHOTOGRAPHY</a></li>
 			<hr style="margin-top: 0px;">
 		</ul>
 	</div>
 	<div style="padding-left: 300px; padding-right: 100px;">
 	<img src="../static/toronto_skyline.jpg" height="300" width="auto" class="slide js-slide">
	 	<div class="container" style="width: 600px; height: 100%; overflow-y:scroll; padding-left: 50px;">
	 		<!-- <h1 style="text-align: center;">BLOG</h1> -->
	 		<div class="blog-post">
	 			<h1>TERM 1A AT THE UNIVERSITY OF WATERLOO</h1>
	 		</div>
	 		<div class="title-seperator"></div>
	 		<div class="blog-date">20th August 2014</div>
	 		<div class="blog-para"><p>This weblog post will cover the courses I took in term 1A at the University of Waterloo. As an international student, too many challenges were thrown at me. Nevertheless, I was determined to study hard during this term. I took 5 full credit and a half credit course during this term. The courses I took are....</p></div>
	 		<div class="more-content">
	 			<a href="/blogpost/1">More</a>
	 		</div>

	 		<div class="blog-post">
	 			<h1>TERM 1A AT THE UNIVERSITY OF WATERLOO</h1>
	 		</div>
	 		<div class="title-seperator"></div>
	 		<div class="blog-date">20th August 2014</div>
	 		<div class="blog-para"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived...</p></div>
	 		<div class="more-content">
	 			<a href="#">More</a>
	 		</div>



	 		<div class="blog-post">
	 			<h1>TERM 1A AT THE UNIVERSITY OF WATERLOO</h1>
	 		</div>
	 		<div class="title-seperator"></div>
	 		<div class="blog-date">20th August 2014</div>
	 		<div class="blog-para"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived...</p></div>
	 		<div class="more-content">
	 			<a href="#">More</a>
	 		</div>
	 	</div>
 	</div>
	<script>
		$(document).ready(function() {
		  // $('#simple-menu').sidr();
		  $('#blog-img').stellar();
		});
	</script>
</body>
</html>